[Unit]
Description=Puma auto start
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/puma
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/home/yc-user/reddit
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
