cloud_id                 = "1"
folder_id                = "2"
image_id                 = "3"
public_key_path          = "4"
private_key_path         = "5"
subnet_id                = "6"
service_account_key_file = "key.json"
reddit_app_name          = "reddit-app-prod"
reddit_db_name           = "reddit-db-prod"
access_key               = "7"
secret_key               = "8"
